#ma_carte{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (5, 1fr);
    padding-left : 150px;
    padding-bottom: 50px;


}

.card-img-top{
    width : auto;
    height : 250px;
    margin-bottom: 50px;
    color : red;
}

img{
    width : 75%;
    height: 75%;
}

.navbar{
    margin-left : 250px;
}




.cart-row{
    display: flex;
}

table{
    display : flex;
}

td{
    border-bottom : 1px solid black;
    padding-right : 200px;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.btn-purchase{
    background-color: red;
    margin-left : 500px;

}

.cart-total{
    margin-left : 70%;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #FBFBFB;
    font-family: Arial, Helvetica, sans-serif;
}




.changeToRed{
    background-color: red;
}